<div class="container">
  <div class="space-110"></div>
  <h2 class="title text-center">予診票</h2>

  <div class="row">
    <div class="col-md-6 mr-auto ml-auto">
      <div class="card card-register">
        <form
          class="register-form"
          #registerForm="ngForm"
          (ngSubmit)="register(registerForm)"
        >
          <div class="form-group">
            <label>氏名 <span class="icon-danger">*</span></label>
            <input
              (ngModel)="(newReport.username)"
              name="username"
              type="text"
              class="form-control border-input"
              placeholder="山田 太郎"
              required
            />
          </div>

          <div class="form-group">
            <label>メールアドレス <span class="icon-danger">*</span></label>
            <input
              (ngModel)="(newReport.email)"
              name="email"
              type="email"
              id="email"
              class="form-control"
              placeholder="taro.yamada@gmail.com"
              required
            />
          </div>

          <div class="form-group">
            <label>生年月日 <span class="icon-danger">*</span></label>
            <div class="input-group date">
              <input
                [(ngModel)]="newReport.birthday"
                name="birthday"
                [readonly]="true"
                [owlDateTime]="dt1"
                [owlDateTimeTrigger]="dt1"
                [max]="max"
                class="form-control"
                placeholder="生年月日を選択"
                required
              />
              <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>

              <div class="input-group-append">
                <span class="glyphicon glyphicon-calendar input-group-text">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>性別 <span class="icon-danger">*</span></label>
            <select
              class="custom-select"
              [(ngModel)]="newReport.gender"
              name="gender"
              required
            >
              <option [value]="undefined" disabled>
                性別を選択してください
              </option>
              <option
                *ngFor="let dropdownGenderList of dropdownGenderLists"
                [value]="dropdownGenderList.gender"
              >
                {{ dropdownGenderList.gender }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label>電話番号 <span class="icon-danger">*</span></label>
            <input
              (ngModel)="(newReport.phoneNumber)"
              name="phoneNumber"
              type="text"
              class="form-control border-input"
              placeholder="08012341234"
              required
            />
          </div>

          <div class="form-group">
            <label>住所 <span class="icon-danger">*</span></label>
            <input
              (ngModel)="(newReport.address)"
              name="address"
              type="text"
              class="form-control border-input"
              placeholder="東京都〇〇区〇〇1-1-1"
              required
            />
          </div>

          <div class="form-group">
            <label
              >新型コロナウイルスワクチンは接種しましたか？
              <span class="icon-danger">*</span></label
            >
            <select
              class="custom-select"
              [(ngModel)]="newReport.covid"
              name="covid"
              required
            >
              <option [value]="undefined" disabled>
                回答を選択してください
              </option>
              <option
                *ngFor="let dropdownAnswerList of dropdownAnswerLists"
                [value]="dropdownAnswerList.answer"
              >
                {{ dropdownAnswerList.answer }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label
              >今回来院された目的はなんですか？
              <span class="icon-danger">*</span></label
            >
            <select
              class="custom-select"
              [(ngModel)]="newReport.purpose"
              name="purpose"
              required
            >
              <option [value]="undefined" disabled>
                回答を選択してください
              </option>
              <option
                *ngFor="let dropdownPurposeList of dropdownPurposeLists"
                [value]="dropdownPurposeList.purpose"
              >
                {{ dropdownPurposeList.purpose }}
              </option>
            </select>
          </div>

          <ng-container *ngIf="newReport.purpose === 'その他'">
            <div class="form-group">
              <label
                >【その他を選択された方】来院目的の詳細を入力してください</label
              >
              <input
                (ngModel)="(newReport.purposeDetail)"
                name="purposeDetail"
                type="text"
                class="form-control border-input"
                placeholder="来院目的を入力してください"
              />
            </div>
          </ng-container>

          <div class="form-group">
            <label
              >抜歯の経験はありますか？
              <span class="icon-danger">*</span></label
            >
            <select
              class="custom-select"
              [(ngModel)]="newReport.toothExtraction"
              name="toothExtraction"
              required
            >
              <option [value]="undefined" disabled>
                回答を選択してください
              </option>
              <option
                *ngFor="let dropdownAnswerList of dropdownAnswerLists"
                [value]="dropdownAnswerList.answer"
              >
                {{ dropdownAnswerList.answer }}
              </option>
            </select>
          </div>

          <ng-container *ngIf="newReport.toothExtraction === 'はい'">
            <div class="form-group">
              <label>どのくらい前に抜歯しましたか？</label>
              <input
                (ngModel)="(newReport.purposeDetail)"
                name="purposeDetail"
                type="text"
                class="form-control border-input"
                placeholder="3年前"
              />
              <label>その時に何か異常はありましたか？　</label>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" />
                  血が止まらなかった
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" />
                  何日も痛んだ
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" />
                  熱が出た
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" />
                  貧血を起こした
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <label>上記以外の異常はありましたか？　</label>
              <input
                (ngModel)="(newReport.purposeDetail)"
                name="purposeDetail"
                type="text"
                class="form-control border-input"
                placeholder="上記以外の症状があれば入力してください"
              />
            </div>
          </ng-container>

          <div class="form-group">
            <label
              >薬を飲んで副作用はありませんか？
              <span class="icon-danger">*</span></label
            >
            <select
              class="custom-select"
              [(ngModel)]="newReport.sideEffect"
              name="sideEffect"
              required
            >
              <option [value]="undefined" disabled>
                回答を選択してください
              </option>
              <option
                *ngFor="let dropdownAnswerList of dropdownAnswerLists"
                [value]="dropdownAnswerList.answer"
              >
                {{ dropdownAnswerList.answer }}
              </option>
            </select>
          </div>

          <ng-container *ngIf="newReport.sideEffect === 'はい'">
            <div class="form-group">
              <label>その時の症状を選択してください</label>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" />
                  胃が痛くなる
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" />
                  発作が出る
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" />
                  痒くなる
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <label>上記以外の副作用はありましたか？　</label>
              <input
                (ngModel)="(newReport.purposeDetail)"
                name="purposeDetail"
                type="text"
                class="form-control border-input"
                placeholder="上記以外の副作用があれば入力してください"
              />
            </div>
          </ng-container>

          <div class="form-group">
            <label
              >特異体質やアレルギーはありませんか？
              <span class="icon-danger">*</span></label
            >
            <select
              class="custom-select"
              [(ngModel)]="newReport.allergic"
              name="allergic"
              required
            >
              <option [value]="undefined" disabled>
                回答を選択してください
              </option>
              <option
                *ngFor="let dropdownAnswerList of dropdownAnswerLists"
                [value]="dropdownAnswerList.answer"
              >
                {{ dropdownAnswerList.answer }}
              </option>
            </select>
          </div>

          <ng-container *ngIf="newReport.allergic === 'はい'">
            <div class="form-group">
              <label>その時の症状を選択してください</label>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" />
                  かぶれやすい
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" />
                  蕁麻疹がある
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" />
                  喘息がある
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <label>上記以外の副作用はありましたか？　</label>
              <input
                (ngModel)="(newReport.purposeDetail)"
                name="purposeDetail"
                type="text"
                class="form-control border-input"
                placeholder="上記以外の副作用があれば入力してください"
              />
            </div>
          </ng-container>

          <div class="form-group">
            <label
              >内科的な病気はありませんか？
              <span class="icon-danger">*</span></label
            >
            <select
              class="custom-select"
              [(ngModel)]="newReport.medicalIllness"
              name="medicalIllness"
              required
            >
              <option [value]="undefined" disabled>
                回答を選択してください
              </option>
              <option
                *ngFor="let dropdownAnswerList of dropdownAnswerLists"
                [value]="dropdownAnswerList.answer"
              >
                {{ dropdownAnswerList.answer }}
              </option>
            </select>
          </div>

          <ng-container *ngIf="newReport.medicalIllness === 'はい'">
            <div class="form-group">
              <label>該当するものを選択してください</label>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" />
                  心臓
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" />
                  肝臓(肝炎)
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" />
                  腎臓
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" />
                  血友病
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" />
                  糖尿
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" />
                  高血圧
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" />
                  低血圧
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" />
                  喘息
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" />
                  結核
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <label>上記以外の症状はありましたか？　</label>
              <input
                (ngModel)="(newReport.purposeDetail)"
                name="purposeDetail"
                type="text"
                class="form-control border-input"
                placeholder="上記以外の症状があれば入力してください"
              />
            </div>
          </ng-container>

          <div class="form-group">
            <label
              >1日での歯の清掃回数 <span class="icon-danger">*</span></label
            >
            <select
              class="custom-select"
              [(ngModel)]="newReport.toothCleaningTimes"
              name="toothCleaningTimes"
              required
            >
              <option [value]="undefined" disabled>
                回答を選択してください
              </option>
              <option
                *ngFor="let dropdownNumberList of dropdownNumberLists"
                [value]="dropdownNumberList.id"
              >
                {{ dropdownNumberList.id }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label>この機会に <span class="icon-danger">*</span></label>
            <select
              class="custom-select"
              [(ngModel)]="newReport.request"
              name="request"
              required
            >
              <option [value]="undefined" disabled>
                回答を選択してください
              </option>
              <option
                *ngFor="let dropdownRequestList of dropdownRequestLists"
                [value]="dropdownRequestList.request"
              >
                {{ dropdownRequestList.request }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label
              >診療についてのご希望 <span class="icon-danger">*</span></label
            >
            <select
              class="custom-select"
              [(ngModel)]="newReport.medicalInsurance"
              name="medicalInsurance"
              required
            >
              <option [value]="undefined" disabled>
                回答を選択してください
              </option>
              <option
                *ngFor="
                  let dropdownMedicalInsuranceList of dropdownMedicalInsuranceLists
                "
                [value]="dropdownMedicalInsuranceList.medicalInsurance"
              >
                {{ dropdownMedicalInsuranceList.medicalInsurance }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label>現在の健康状態 <span class="icon-danger">*</span></label>
            <select
              class="custom-select"
              [(ngModel)]="newReport.condition"
              name="condition"
              required
            >
              <option [value]="undefined" disabled>
                回答を選択してください
              </option>
              <option
                *ngFor="let dropdownConditionList of dropdownConditionLists"
                [value]="dropdownConditionList.condition"
              >
                {{ dropdownConditionList.condition }}
              </option>
            </select>
          </div>

          <!-- <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>銀行名</label>
                    <input
                      (ngModel)="(newTeacher.bankName)"
                      name="bankName"
                      type="text"
                      class="form-control border-input"
                      placeholder="みずほ銀行"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>支店</label>
                    <input
                      (ngModel)="(newTeacher.bankBranchName)"
                      name="bankBranchName"
                      type="text"
                      class="form-control border-input"
                      placeholder="新宿支店"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>口座種類</label>
                    <input
                      (ngModel)="(newTeacher.bankAccountType)"
                      name="bankAccountType"
                      type="text"
                      class="form-control border-input"
                      placeholder="普通"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>口座番号</label>
                    <input
                      (ngModel)="(newTeacher.bankAccountNumber)"
                      name="bankAccountNumber"
                      type="number"
                      class="form-control border-input"
                      placeholder="12345678"
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>口座名義</label>
                <input
                  (ngModel)="(newTeacher.bankAccountName)"
                  name="bankAccountName"
                  type="text"
                  class="form-control border-input"
                  placeholder="ｷﾑﾗ ﾘﾖｳｺ（半角ｶﾅ/スペース有/ｮ→ﾖ）"
                />
              </div> -->

          <button
            *ngIf="!registerForm.valid || isClicked"
            disabled
            type="submit"
            class="btn btn-block btn-round btn-lg"
          >
            登録する
          </button>
          <button
            *ngIf="registerForm.valid && !isClicked"
            type="submit"
            class="btn btn-primary btn-block btn-round btn-lg"
          >
            登録する
          </button>
        </form>
        <div class="space-top"></div>
        <div *ngIf="errors && errors.length > 0" class="alert alert-danger">
          <p *ngFor="let error of errors">{{ error.detail }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
