<div class="space-top"></div>
<mat-horizontal-stepper [linear]="false" #stepper>
  <mat-step
    *ngIf="!currentBooking"
    label="診療内容"
    [completed]="isSelectedCourseType"
  >
    <div class="row">
      <div class="col-md-10 mr-auto ml-auto">
        <div class="section section-summary">
          <div class="container">
            <div class="space-top"></div>
            <a (click)="onCourseSelected('定期検診予約', stepper)">
              <div
                class="card"
                data-background="image"
                style="background-image: url('assets/img/clinic-img.jpg')"
              >
                <div class="card-body">
                  <h3 class="card-title">定期検診予約</h3>
                  <p class="card-description">
                    歯のクリーニングや歯石除去、虫歯チェックなどを行います。
                  </p>
                  <div class="card-footer">
                    <a class="btn btn-primary btn-round">
                      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                      選択する
                    </a>
                  </div>
                </div>
              </div>
            </a>

            <a>
              <div
                class="card"
                data-background="image"
                style="background-image: url('assets/img/clinic-img.jpg')"
              >
                <div class="card-body">
                  <h3 class="card-title">詰め物が取れた</h3>
                  <p class="card-description">
                    詰め物が取れてしまった歯の治療を行います。
                  </p>
                  <div class="card-footer">
                    <a class="btn btn-primary btn-round">
                      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                      選択する
                    </a>
                  </div>
                </div>
              </div>
            </a>

            <a>
              <div
                class="card"
                data-background="image"
                style="background-image: url('assets/img/clinic-img.jpg')"
              >
                <div class="card-body">
                  <h3 class="card-title">歯が痛い</h3>
                  <p class="card-description">虫歯チェックや治療を行います。</p>
                  <div class="card-footer">
                    <a class="btn btn-primary btn-round">
                      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                      選択する
                    </a>
                  </div>
                </div>
              </div>
            </a>

            <a>
              <div
                class="card"
                data-background="image"
                style="background-image: url('assets/img/clinic-img.jpg')"
              >
                <div class="card-body">
                  <h3 class="card-title">歯ぐきが痛い</h3>
                  <p class="card-description">
                    歯周病チェックや治療を行います。
                  </p>
                  <div class="card-footer">
                    <a class="btn btn-primary btn-round">
                      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                      選択する
                    </a>
                  </div>
                </div>
              </div>
            </a>

            <a>
              <div
                class="card"
                data-background="image"
                style="background-image: url('assets/img/clinic-img.jpg')"
              >
                <div class="card-body">
                  <h3 class="card-title">口臭が気になる</h3>
                  <p class="card-description">
                    虫歯や歯周病チェックを行います。
                  </p>
                  <div class="card-footer">
                    <a class="btn btn-primary btn-round">
                      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                      選択する
                    </a>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </mat-step>

  <mat-step label="日時選択" [completed]="isSelectedDateTime">
    <div class="row">
      <div class="col-md-5 ml-auto mr-auto">
        <div class="input-group date">
          <input
            [(ngModel)]="selectedDate"
            (ngModelChange)="onDateSelect($event)"
            name="selectedDate"
            [readonly]="true"
            [owlDateTime]="dt1"
            [owlDateTimeTrigger]="dt1"
            [min]="minDate"
            class="form-control"
            placeholder="希望日を選択"
            required
          />
          <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>

          <div class="input-group-append">
            <span class="glyphicon glyphicon-calendar input-group-text">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="timeTables && timeTables.length > 0 && !isDateBlock_flg"
      class="info"
    >
      <div *ngFor="let timeTable of timeTables">
        <p>
          <button
            *ngIf="isValidBooking(timeTable)"
            class="btn btn-primary"
            (click)="selectDateTime(timeTable, stepper)"
          >
            {{ timeTable.format("HH:mm") }} スタート
          </button>
          <button
            *ngIf="!isValidBooking(timeTable)"
            class="btn"
            [disabled]="true"
          >
            予約不可
          </button>
        </p>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<!-- <section id="clinic-booking">
  <form>
    <div class="form-group">
      
    </div>
  </form> -->

<!--
  <ng-container *ngIf="timeTables.length == 0 || isDateBlock_flg">
    <div class="separator"></div>
    <div class="info">
      <div class="icon icon-warning">
        <i class="nc-icon nc-cart-simple"></i>
      </div>
      <div class="description">
        <h4 class="info-title">Thank you</h4>
        <p>本日分は完売しました</p>
        <div class="space-top"></div>
      </div>
    </div>
    <div class="separator"></div>
  </ng-container>
</section> -->
