<div class="wrapper">
  <div
    class="page-header page-header-xs settings-background"
    style="background-image: url('./assets/img/lp/back-image.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="space-50"></div>
        <div class="logo">
          <img src="assets/img/logo/logo-w-wh.svg" alt="..." />
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="features-4">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">私たちの理念</h2>
            <h5 class="description">
              ●個人が自分のステージで輝くことができる社会をつくる<br />
              ●人々の努力が確実に結果に結びつくビジネス環境をつくる<br />
              ●私たちは、一人一人の主人公を輝かせる裏方に徹する
            </h5>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 ml-auto">
            <div class="iphone-container">
              <img src="assets/img/aboutus/backstage.png" />
            </div>
          </div>
          <div class="col-md-6 mr-auto">
            <div class="info info-horizontal">
              <h3 class="info-title">社名の由来</h3>
              <br />
              <div class="description">
                <p>Aeru.me（アエルミー）の由来は「色々な自分と会える」</p>
                <p>
                  社名のAeru.me（アエルミー）は「（未来の輝いている）私に会える」を実現したいという思いから来ています。
                </p>
                <p>
                  色々な魅力を持っている人からサービスを受けて成長し、魅力的な自分になれる場所を提供したいと考えています。
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 ml-auto">
            <div class="info info-horizontal">
              <h3 class="info-title">グローバルなチーム体制</h3>
              <br />
              <div class="description">
                <p>
                  当社は、インド、ベトナム、ルーマニア、スロバキアのパートナー企業やフリーランスと連係して様々なオンラインサービスを構築しています。
                </p>
                <p>
                  世界中の才能を結びつけて、能力のある個人が輝やきやすい環境を作り、将来輝きたい個人が魅力ある個人からサービスを受けやすい環境を自社サービスだけでなく企業向けに提供しています。
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-5 mr-auto">
            <div class="iphone-container">
              <img src="assets/img/aboutus/engineers.png" />
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 ml-auto">
            <div class="info info-horizontal">
              <h3 class="info-title">代表取締役 浜田 篤</h3>
              <br />
              <div class="description">
                <p>
                  もともとは車が好きで本田技研工業入社。車のセンサー周りの研究開発を行った後、Apple,
                  Googleとの共同研究の為シリコンバレーに駐在。文化の違いに衝撃を受ける。
                </p>
                <p>
                  帰国後、教育ITベンチャーに転職しCTOとしての実務経験を詰み、大企業とベンチャーの違いやITアウトソーシングのノウハウを蓄えた後、独立。
                </p>
                <p>
                  独立後はアウトソーシングのノウハウを活かしインドの開発パートナーとアライアンスを結び、toB向け受託開発を中心に行うようになる。
                </p>
                <p>
                  受託ならではの利益率の低さに頭を抱えていたところ、様々な中小企業経営者と接する過程でエンジニアのマネジメントや評価、組織設計、ITシステムの事業計画の作り方、といったノウハウに需要があると気づき、経営者、経営陣向けにITコンサルティングを行うようになり、約一年半の時を経てAeru.me
                  SaaSローンチに至る。
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-5 mr-auto">
            <div class="iphone-container">
              <img src="assets/img/aboutus/hamada.png" />
            </div>
          </div>
        </div> -->
      </div>

      <div class="container">
        <div class="space-70"></div>
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Company profile</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="table-responsive">
              <table class="table table-hover table-shopping">
                <tbody>
                  <tr>
                    <td class="text-center">商号</td>
                    <td>Aeru.me株式会社</td>
                  </tr>
                  <tr>
                    <td class="text-center">資本金</td>
                    <td>1,000千円</td>
                  </tr>
                  <tr>
                    <td class="text-center">設立</td>
                    <td>2019年8月</td>
                  </tr>
                  <tr>
                    <td class="text-center">主要取引銀行</td>
                    <td>
                      住信SBIネット銀行<br />
                      三菱UFJ銀行
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">本社</td>
                    <td>東京都新宿区新宿６−２０−５−９０２</td>
                  </tr>
                  <tr>
                    <td class="text-center">代表取締役</td>
                    <td>浜田 篤</td>
                  </tr>
                  <tr>
                    <td class="text-center">事業内容</td>
                    <td>
                      経営層向けITコンサルティング支援<br />
                      バックオフィス業務の自動化支援<br />
                      Web予約プラットフォームの導入支援<br />
                      マッチングサービスの運営
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">決算</td>
                    <td>6月末</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="space-top"></div>
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <a
              [routerLink]="['/saas']"
              class="btn btn-primary btn-round btn-lg"
            >
              法人向け商品はこちら
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
